.container {
  padding-block: 20px;
  .mainContainer {
    .products {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      .card {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        flex-direction: column;
        align-items: start;
        width: 200px;
        height: 350px;
        border: 1px solid gray;
        border-radius: 10px;
        img {
          width: 100%;
          height: 170px;
        }
        p {
          color: black;
        }
        h3 {
          font-size: 20px;
        }
        button {
          background: blue;
          color: white;
          padding: 8px 15px;
          font-size: 18px;
        
        }
        .btns {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}
