.container {
  padding-block: 60px;
  padding-left: 40px;
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    .mainBlock {
      display: flex;
      align-items: start;
      gap: 100px;
      img {
        width: 380px;
        height: 450px;
      }
      .title {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;
        color: black;
        p{
            font-size: 25px;
            font-weight: 700;
        }
        .btns {
          display: flex;
          align-items: center;
          gap: 15px;
          button{
            background: blue;
            color: white;
          }
        }
      }
    }
  }
}
